<div class="body">
  <div class="words-list">

  <h3>Words in the Simple Dictionary</h3>

    Nouns: <%= @noun_arr %> <br>
    Verbs: <%= @verb_arr %> <br>
    Articles: <%= @article_arr %> <br>

  </div>
</div>
