/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.body {
  margin: 20px;
}

button, .button {
  background-color: #639ACB;
  border-radius: 5px;
}

.button a {
  color: #FFF;
}

.sign-in-greeting {
  font-size: 15px;
  background-color: #86B7D7;
  text-align: center;
  max-width: 50%;
  border-radius: 5px;
  padding: 10px;
  margin-left: 25%;
}

.text-bg {
  font-size: 15px;
  background-color: #D6D6D6;
  text-align: center;
  max-width: 50%;
  border-radius: 5px;
  padding: 10px;
}

.field {
  max-width: 50%;
}

.words-list {
  font-size: 15px;
  background-color: #86B7D7;
  text-align: center;
  max-width: 50%;
  border-radius: 5px;
  padding: 10px;
}
