#button {
 border-radius: 5px;
 background-color: #6D6A75;
 margin: 20px;
 a {
   color: #FFF;
 }
}

.button {
 border-radius: 5px;
 background-color: #6D6A75;
 margin: 20px;
 a {
   color: #FFF;
 }
}

.submit {
  border-radius: 5px;
  color: #FFF;
  background-color: #639ACB;
  padding: 20px 40px 20px 40px;
  font-size: 20px;
}
